.DS_Store
Thumbs.db
Library
/Temp
/builds
*.csproj
*.pidb
*.sln
*.userprefs
*.unityproj
InspectorExpandedItems.asset
EditorUserBuildSettings.asset
/iOS
/Web
*.apk
Android/.*
Android/AndroidManifest.xml
Android/bin
Android/gen
Android/ic*
Android/libs/android-support-v4.jar
Android/pro*
Android/res